.promo {
  padding-top: 50px;
}
.promo__row {
  flex-direction: column-reverse;
  align-items: center;
}
.promo__col {
  width: 270px;
  min-height: 210px;
}
.promo__contact-tel,
.promo__contact-tel:hover,
.promo__contact-tel:visited {
  font-size: 28px;
}
.promo__contact-text {
  font-size: 17px;
}