.promo {
  background: #000000 url("/img/main/hero-bg.jpg") 50% 0 no-repeat;
  color: #ffffff;
  padding-top: 30px;
  overflow: hidden;
}
.container {
}
.promo__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  margin-bottom: -30px;
}
.promo__col {
  margin: 0 20px;
  margin-bottom: 30px;
  width: 200px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo__col--img {
  align-items: flex-end;
}
.promo__col--text {
}
.promo__img {
  max-width: 100%;
  filter: drop-shadow(0px 0px 50px #000000);
}
.promo__title {
}
.promo__text {
}
.promo__svg-box {
}
.promo__svg {
  filter: drop-shadow(0px 0px 50px #000000);
}
.promo__contact {
  margin-top: 10%;
}


// adaptive tel
.promo__content {
  position: relative;
  z-index: 1;
  max-width: 460px;
}
.promo__contact-text {
  font-size: 33px;
  white-space: nowrap;
}
.promo__contact-tel,
.promo__contact-tel:hover,
.promo__contact-tel:visited {
  font-size: 55px;
  color: #ffffff;
  border-bottom: none;
  text-decoration: none;
  white-space: nowrap;
}

@media screen and (max-width: 1149px) and (min-width: 900.1px) {
  .promo__row {
    max-width: 100%;
  }
  .promo__content {
    max-width: 360px;
  }
  .promo__contact-text {
    font-size: 27px;
  }
  .promo__contact-tel,
  .promo__contact-tel:hover,
  .promo__contact-tel:visited {
    font-size: 43px;
    color: #ffffff;
    border-bottom: none;
    text-decoration: none;
  }
}

@media screen and (max-width: 900px) and (min-width: 770.1px) {
  .promo__row {
    max-width: 100%;
  }
  .promo__content {
    max-width: 320px;
  }
  .promo__contact-text {
    font-size: 24px;
  }
  .promo__contact-tel,
  .promo__contact-tel:hover,
  .promo__contact-tel:visited {
    font-size: 38px;
    color: #ffffff;
    border-bottom: none;
    text-decoration: none;
  }
}

@media screen and (max-width: 770px) and (min-width: 760.1px) {
  .promo__row {
    padding: 0 10px;
  }
  .promo__content {
    max-width: 290px;
  }
  .promo__contact-text {
    font-size: 22px;
  }
  .promo__contact-tel,
  .promo__contact-tel:hover,
  .promo__contact-tel:visited {
    font-size: 35px;
    color: #ffffff;
    border-bottom: none;
    text-decoration: none;
  }
}

@media screen and (max-width: 760px) and (min-width: 641px) {
  .promo__col--text {
    justify-content: flex-start;
  }
  .promo__content {
    max-width: 260px;
  }
  .promo__contact-text {
    font-size: 19px;
  }
  .promo__contact-tel,
  .promo__contact-tel:hover,
  .promo__contact-tel:visited {
    font-size: 31px;
    color: #ffffff;
    border-bottom: none;
    text-decoration: none;
  }
}

@media screen and (max-width: 640px) {
  .promo__contact-text {
    font-size: 20px;
  }
  .promo__contact-tel,
  .promo__contact-tel:hover,
  .promo__contact-tel:visited {
    font-size: 32px;
  }
}


//